alias ls='ls --color=auto'
alias l='ls -hlF'
alias ll='ls -hAlF'
alias vi='vim'
alias grep='grep --color=auto'

alias ..='cd ..'
alias ocd='cd "$OLDPWD"'

alias md5='openssl md5'
alias sha1='openssl sha1'
alias path='echo "${PATH//:/$'"'"'\n'"'"'}"'
alias scpid='ssh-copy-id -i ~/.ssh/id_rsa'
alias scpidr='ssh-copy-id -i ~/.ssh/mediarave_rsa'

alias vib='vi ~/.bashrc'
alias vic='vi ~/.ssh/config'

alias sr='screen -r'

alias sf='setfont sun12x22'


##################################### DOCKER #####################################
alias dm='docker-machine'
alias dmip='docker-machine ip devbox'
alias denv='docker-machine env devbox --shell bash'

alias dp='docker ps -a'
alias dps='docker ps --format "table {{.ID}}\t{{.Image}}\t{{.Command}}\t{{.Ports}}\t{{.Names}}"'
alias dpa='docker ps -a --format "table {{.ID}}\t{{.Image}}\t{{.Command}}\t{{.Ports}}\t{{.Names}}"'

alias dlo='docker logs'

alias dRf='docker rm -f'
# alias dRaf='docker rm -f $(docker ps -a -q)'

alias dat=attach_terminal
attach_terminal() { docker exec -it "$1" bash; }

alias dim='docker images'

alias ds='docker start'
alias dS='docker stop'
alias dsa='docker start $(docker ps -a -q)'
alias dSa='docker stop $(docker ps -a -q)'

alias dssh='ssh docker@192.168.99.100'


##################################### GIT #####################################
if [ -f ~/.dotfiles/git/git.aliases ]; then
    source ~/.dotfiles/git/git.aliases
    alias viga='vi ~/.dotfiles/git/git.aliases'
fi


##################################### ADMIN #####################################
alias wcd=www_cd
www_cd() { cd /var/www/$1; }

alias backup='tar -cvzf ~/backups/www.tar.gz /var/www/'
alias compress='tar -cvzf ~/backups/backup.tar.gz'
alias extract='tar -xvf'

alias up='sudo apt-get update && time sudo apt-get upgrade'
alias upd='sudo apt-get update && time sudo apt-get dist-upgrade'

alias dblog='sudo cat /var/log/mysql/error.log'
alias dbdump='mysqldump --socket=/home/mysql/mysql.sock --user wordpress --password=raeh3AVaeche wordpress > ~/backups/starfish.sql'
alias dbres='sudo service mysql start'

alias weblog='sudo cat /var/log/apache2/access.log'
alias rpclog='sudo grep xmlrpc /var/log/apache2/access.log'
alias webres='sudo service apache2 restart'

alias blockrpc='sudo a2enconf block-xmlrpc'

# Source local aliases
if [ -f ~/.aliases ]; then
    source .aliases
fi

##################################### ANGULAR  ##################################### 
export PATH=$PATH:~/.config/yarn/global/node_modules/.bin

alias ngn='ng new --style=scss'
alias ngs='ng server --open'
alias nggc='ng generate component'
alias nggl='ng generate class'

##################################### FLUTTER  #####################################
export PATH=$PATH:~/sdk/flutter/bin


##################################### ATOM #####################################
alias alp='apm list --installed --bare > ~/Dropbox/dotfiles/atom/.packages'
alias aip='apm install --packages-file ~/Dropbox/dotfiles/atom/.packages'
alias aiv='apm install --verbose'
alias aul='apm upgrade --list'
alias auv='apm upgrade --verbose'


##################################### ANDROID #####################################
#Android Platform Tools
PATH=$PATH:~/sdk/android/platform-tools/:~/sdk/android/tools/:~/sdk/android/tools/bin

alias avdlst='avdmanager.bat list avd'
alias avdgal='avdmanager.bat create avd --force --name "galaxy" --abi "google_apis/x86" --device "Galaxy Nexus" --package "system-images;android-18;google_apis;x86"'
alias avdnex='avdmanager.bat create avd --force --name "nexus" --abi "google_apis/x86" --device "Nexus 5X" --package "system-images;android-25;google_apis;x86"'
alias emunex='emulator -avd nexus -gpu on -skin 1080x1920'
alias emugal='emulator -avd galaxy -gpu on -skin 720x1280'
alias adbi='adb install'
alias adbu='adb uninstall'

##################################### GO #####################################
alias gor='go run'
