alias ls='ls --color=auto'
alias l='ls -hAlF'
alias ll='ls -halF'
alias vi='vim'
alias grep='grep --color=auto'
alias x='exit'
alias ag='alias | grep'

alias ..='cd ..'
alias ocd='cd "$OLDPWD"'

alias md5=md5hash
md5hash() { echo -n "$1" | openssl md5; }

alias mk4=mkv_to_mp4
mkv_to_mp4() { for i in *.mkv; do ffmpeg -i "$i" -loglevel error -codec copy "${i%.*}.mp4"; done; }

alias sha1='openssl sha1'
alias path='echo "${PATH//:/$'"'"'\n'"'"'}"'
alias scpid='ssh-copy-id -i ~/.ssh/id_rsa'
alias scpidr='ssh-copy-id -i ~/.ssh/mediarave_rsa'

alias vib='vi ~/.bashrc'
alias vic='vi ~/.ssh/config'

alias sr='screen -r'

alias sf='setfont sun12x22'

alias calc='bc --quiet'

alias hdc='rm ~/.bash_history && history -c'
alias hdr=history_del_range
history_del_range() { for i in {1..100}; do history -d $1; done; }

############################## DOCKER ##############################

alias dm='docker-machine'
alias dmip='docker-machine ip devbox'
alias denv='docker-machine env devbox --shell bash'

alias dp='docker ps -a'
alias dps='docker ps --format "table {{.ID}}\t{{.Image}}\t{{.Command}}\t{{.Ports}}\t{{.Names}}"'
alias dpa='docker ps -a --format "table {{.ID}}\t{{.Image}}\t{{.Command}}\t{{.Ports}}\t{{.Names}}"'

alias dl='docker logs'

alias dRf='docker rm -f'
# alias dRaf='docker rm -f $(docker ps -a -q)'

alias dat=attach_terminal
attach_terminal() { docker exec -it "$1" bash; }

alias dim='docker images'
alias diP='docker image prune'
alias dRmi='docker rmi'

alias dvl='docker volume ls'
alias dvP='docker volume prune'

alias dc='docker-compose'
alias dcu='docker-compose up -d'
alias dcd='docker-compose down'
alias dcp='cp -r ~/.dotfiles/web/project/. .'

alias ds='docker start'
alias dS='docker stop'
alias dsa='docker start $(docker ps -a -q)'
alias dSa='docker stop $(docker ps -a -q)'

alias dssh='ssh docker@192.168.99.100'


############################## GIT  ##############################
if [ -f ~/.dotfiles/git/git.aliases ]; then source ~/.dotfiles/git/git.aliases
    alias viga='vi ~/.dotfiles/git/git.aliases'
fi

# GitHub
# alias dotfiles='git remote set-url origin git@alok-github:alok-mishra/dotfiles.git'
alias dotremote='git remote set-url origin git@github.com:alok-mishra/dotfiles.git'
alias dotfiles='git clone git@github.com:alok-mishra/dotfiles.git'
github_init() { curl -u "alok-mishra" https://api.github.com/user/repos -d "{'name':$1,'description':$2}"; }
alias ghi='github_init'


# GitLab
alias gclglm='gitlab_clone_mediarave'
gitlab_clone_mediarave() { git clone git@gitlab.com:mediarave/$1 $2; }

alias gclglf='gitlab_clone_fcapi'
gitlab_clone_fcapi() { git clone git@gitlab.com:fcapi/$1 $2; }

alias pushalllab='git push gitlab --all'
alias remotelabpackage='git remote add gitlab git@gitlab.com:fcapi/package.git'
alias remotelabmanifest='git remote add gitlab git@gitlab.com:fcapi/manifest.git'


# BitBucket
alias gclbb='gitlab_clone_bitbucket'
gitlab_clone_bitbucket() { git clone git@bitbucket.org:learnlife/$1 $2; }

# WordPress
alias gclwp=git_clone_wordpress
git_clone_wordpress() {
    dir="wordpress"
    if [[ $# -ne 0 ]]; then
        dir=${1}
    fi
    git clone --depth 1 https://github.com/WordPress/WordPress.git $dir && rm -rf $dir/.git;
}

############################## ADMIN  ##############################
HISTTIMEFORMAT="%d/%m/%y %T "

alias suvi='sudo -E vim'

alias wcd=www_cd
www_cd() { cd /var/www/$1; }

alias compress='tar -cvzf ../${PWD##*/}.tar.gz .'
alias extract='tar -zxvf'

alias up='sudo apt-get update && time sudo apt-get upgrade'
alias upd='sudo apt-get update && time sudo apt-get dist-upgrade'

alias flash=flash_image
flash_image() { sudo dd if=$1 of=$2 bs=4M oflag=direct status=progress && sync; }

alias phpinfo='php -i | grep php.ini'

alias dbroot='sudo mysql --user=root --password=`cat /root/.digitalocean_password`'
alias dblog='sudo less /var/log/mysql/error.log'
alias dbres='sudo service mysql start'
alias dbbak=db_backup
db_backup() { mysqldump --user wordpress --password=$1 wordpress > ~/backups/db-backup.sql; }

alias syncdu=sync_down_uploads
sync_down_uploads() { rsync -raz --ignore-existing --omit-dir-times --max-size=$3mb --progress $1:/var/www/$2/wp-content/uploads wp-content/; }

alias syncuu=sync_up_uploads
sync_up_uploads() { rsync -raz --ignore-existing --omit-dir-times --max-size=$3mb --progress wp-content/uploads $1:/var/www/$2/wp-content/; }

alias weblog='sudo less /var/log/apache2/access.log'
alias rpclog='sudo grep xmlrpc /var/log/apache2/access.log'

alias chowh='sudo chown -R http:http . && sudo chown -R alok:alok .git'
alias choww='sudo chown -R www-data:www-data .'
alias webres='sudo systemctl restart apache2'
alias webrel='sudo systemctl reload apache2'
alias fws='sudo ufw status numbered'

alias lcc='sudo certbot certificates'
alias lca='sudo certbot --apache'
alias lcr='sudo certbot revoke --cert-name'

alias blockrpc='sudo a2enconf block-xmlrpc'

alias wbak=www_backup
www_backup() { tar -cvzf ~/backups/$1.tar.gz /var/www/$1; }

alias warc=static_archive
static_archive() { wget -P $2 -mpck --user-agent="" -e robots=off --wait 1 -E $1; }

# Source local aliases
if [ -f ~/.aliases ]; then
    source .aliases
fi

############################## PYTHON ##############################
alias pcl='conda list'
alias pcle='conda env list'
alias pci='conda install'
alias pcic='conda install -c'
alias pcu='conda update'
alias pcc='conda create -n'
alias pca='conda activate'
alias pcd='conda deactivate'

############################## NODE  ##############################

export PATH=$PATH:~/.config/yarn/global/node_modules/.bin

alias nrd='npm run dev'
alias nid='npm install --save-dev'

alias ys=yarn_start
yarn_start() {
    if [[ $# -ne 0 ]]; then
        yarn $1
    else
        yarn start
    fi
}

alias yga='yarn global add'
alias yda='yarn --dev add'
alias yul='yarn upgrade --latest'
alias ygr='yarn global --verbose remove'
alias ygu='yarn global --verbose upgrade'

alias scss='node-sass --output-style compact'

############################## SVELTE ##############################
alias svelte='npx degit sveltejs/template $1'
alias skit='npm init svelte@next $1'

############################## ANGULAR ##############################
# alias ngs='ng serve --open'
# alias ngb='ng build --prod'
# alias ngn='ng new --routing --style=scss --skip-install'
# alias nggc='ng generate component --flat --spec=false'
# alias nggl='ng generate class'
# alias nggm='ng generate module --flat'
# alias nggp='ng generate pipe --flat --spec=false'
# alias nggs='ng generate service --flat --spec=false'

############################## FLUTTER ##############################
export PATH=$PATH:~/sdk/flutter/bin

alias gclfsdk='git clone --depth 1 https://github.com/flutter/flutter.git -b stable ~/sdk/flutter/'


############################## ATOM ##############################
alias alp='apm list --installed --bare > ~/Dropbox/dotfiles/atom/.packages'
alias aip='apm install --packages-file ~/Dropbox/dotfiles/atom/.packages'
alias aiv='apm install --verbose'
alias aul='apm upgrade --list'
alias auv='apm upgrade --verbose'


############################## ANDROID ##############################
#Android Platform Tools
PATH=$PATH:~/sdk/android/platform-tools/:~/sdk/android/tools/:~/sdk/android/tools/bin

alias avdlst='avdmanager.bat list avd'
alias avdgal='avdmanager.bat create avd --force --name "galaxy" --abi "google_apis/x86" --device "Galaxy Nexus" --package "system-images;android-18;google_apis;x86"'
alias avdnex='avdmanager.bat create avd --force --name "nexus" --abi "google_apis/x86" --device "Nexus 5X" --package "system-images;android-25;google_apis;x86"'
alias emunex='emulator -avd nexus -gpu on -skin 1080x1920'
alias emugal='emulator -avd galaxy -gpu on -skin 720x1280'
alias adbi='adb install'
alias adbu='adb uninstall'

############################## GO ##############################
alias gor='go run'

############################## HASS  ##############################
if [ -f /home/homeassistant/.homeassistant/ha.aliases ]; then
   source /home/homeassistant/.homeassistant/ha.aliases
   alias viha='vi /home/homeassistant/.homeassistant/ha.aliases'
fi
