[user]
    name = Alok Mishra
    email = alok@alokmishra.com
[color]
    ui = true
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[diff]
    tool = bc
[difftool]
    prompt = false
[difftool "bc"]
    cmd = bcompare \"$LOCAL\" \"$REMOTE\"
[difftool "vscode"]
    cmd = code-insiders --wait --diff $LOCAL $REMOTE
[merge]
    tool = vscode
[mergetool "bc"]
    cmd = bcompare
[mergetool "vscode"]
    cmd = code-insiders --wait $MERGED
[push]
    default = simple
[mergetool]
    keepBackup = false
[core]
    editor = vim
    autocrlf = input
    symlinks = true
    excludesfile = ~/.gitignore_global
[pull]
    ff = only
[init]
    defaultBranch = master
[safe]
    directory = *
[protocol "file"]
    allow = always
[credential "helperselector"]
    selected = <no helper>
