[user]
	name = Alok Mishra
	email = alok@alokmishra.com
[color]
	ui = true
[diff]
	tool = bc3
[difftool "bc3"]
	path = C:/Program Files (x86)/Beyond Compare 4/BComp.exe
[merge]
	tool = bc3
[mergetool "bc3"]
	path = C:/Program Files (x86)/Beyond Compare 4/BComp.exe
[push]
	default = simple
[mergetool]
	keepBackup = false
