[user]
    name = Alok Mishra
    email = alok@alokmishra.com
[color]
    ui = true
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[diff]
    prompt = true
    tool = wsl_beyondcompare
[difftool "beyondcompare"]
    cmd = bcomp.exe \"$LOCAL\" \"$REMOTE\"
[difftool "wsl_beyondcompare"]
    cmd = bcomp.exe "$(wslpath -aw $LOCAL)" "$(wslpath -aw $REMOTE)"
[difftool "vscode"]
    cmd = code-insiders --wait --diff $LOCAL $REMOTE
[merge]
    tool = vscode
[mergetool "beyondcompare"]
    cmd = bc
[mergetool "wsl_beyondcompare"]
    cmd = bc "$(wslpath -aw $LOCAL)" "$(wslpath -aw $REMOTE)" "$(wslpath -aw $BASE)" "$(wslpath -aw $MERGED)"
[mergetool "vscode"]
    cmd = code-insiders --wait $MERGED
[push]
    default = simple
[mergetool]
    keepBackup = false
[core]
    editor = vim
    autocrlf = input
    symlinks = true
    excludesfile = ~/.gitignore_global
[pull]
    ff = only
[init]
    defaultBranch = master
[safe]
    directory = *
[protocol "file"]
    allow = always
[credential "helperselector"]
	selected = <no helper>
[http]
	sslBackend = openssl
